body {
    /* background-color: skyblue; */
    background: url('/images/wallp1.jpg');
}
.box-overflow{
    overflow: auto;
    height: 500px;
}
.border-w {
    border-color: white;
    border-style:solid;
    border-width: 2px;
    border-radius: 20px;
    background-color: bisque;
}
.image-box {
    width: 250px;
    height: 150px;
    display: block;
    /* background:grey; */
    padding:20px;
    /* border-color: white;
    border-style:solid;
    border-width: 2px; */
    margin: 2px;
}
.image-av {
    width: 100px;
    height: 100px;
    background-size: 100px !important; 
    /* background:orange; */
    /* background: url("/images/bud1.png") no-repeat; */
    /* background-position: -64px -32px;  */
    background-position: 0 0; 
    background-repeat: no-repeat;
}
.image-title {
    width: inherit;
    font-weight: bold;
    /* background:red; */
}

.image-row {
    width: 100%;
    display: inline-flex;
}